.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.claude/tasks
temp
data/models/nnunet_test
*zip
*nii.gz
data/results/processing_log.json
*xlsx
TESTING_EXCEL_REPORTS.md